.container, .btnContainer {
    display: flex;
    margin:0 auto;
    margin-top: 40px;
    width: 1000px;
}

.slot {
    float: left;
    width: 279px;
    height: 582px;
    margin-left: 40px;
    background-image: url(slot.png);
    transition: 0.2s;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

input {
    margin: 0 auto;
}

#slot1 {
    background-position-y: 582px;
}

#slot2 {
    background-position-y: 1164px;
}

#slot3 {
    background-position-y: 0px;
}